.auth-container {
  display: flex;
  height: 100vh;
  

  .app-intro {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .logo {
      margin-right: 10px;
      max-width: 300px;
    }
  }

  .logo {
    margin-left: 0;
    margin-bottom: -40px;
  }

  .auth-left, .auth-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
  }

  .auth-left {
    background-color: #f7f7f7;
    animation: slideInLeft 0.5s forwards;
  }

  .auth-right {
    background-color: #ffffff;
    animation: slideInRight 0.5s forwards;
    margin-top: -100px;
  }

  .auth-form {
    max-width: 400px;
    width: 100%;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


    h2 {
      margin-bottom: 20px;
      font-size: 2rem;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1rem;
      box-sizing: border-box; 
    }

    button {
      width: 100%;
      padding: 10px;
      background: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;
      box-sizing: border-box; 

      &:hover {
        background: #0056b3;
      }
    }

    .social-login {
      display: flex;
      justify-content: center;
      margin-top: 20px;

      i {
        font-size: 1.5rem;
        margin: 0 10px;
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
          color: #007bff;
        }
      }
    }
  }

  .auth-right-content, .auth-left-content {
    text-align: left;
    max-width: 400px;
    width: 100%;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.1rem;
      margin-bottom: 10px;
    }

    .auth-link {
      font-size: 1.1rem;
      color: #007bff;
      text-decoration: none;
      font-weight: bold;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: #0056b3;
      }
    }
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}